div,
span {
    margin: 0;
    padding: 0;
}

#jq-date-picker {
    position: absolute;
    border: 1px solid #04477c;
    border-radius: 3px;
}

.cal-style {
    font-family: 'Microsoft Yahei';
    font-size: 0;
}

.per-picker {
    float: left;
}

.per-picker:nth-child(2n) {
    border-left: 1px solid #04477c;
}

.cal-header {
    
}

.cal-info {
    height: 30px;
}

.cal-weeks {
    border-bottom: 1px solid #04477c;
}

.cal-day {
    display: inline-block;
    width: 36px;
    height: 26px;
    border-color: #04477c;
    border-width: 1px 0 0 1px;
    border-style: solid;
    text-align: center;
    line-height: 26px;
    font-size: 12px;
}

.cal-day:first-child {
    border-left: 0;
}

.day-mon {
    border-left: 0;
}

.cal-body {
    padding-top: 5px;
    display: inline-block;
}

.cal-per-week {
    height: 26px;
    border-bottom: 1px solid #04477c;
}

.cal-per-week:first-child {
    border-top: 1px solid #04477c;
}

.cal-per-week:last-child {
    border-bottom: 0;
}

.has-date {
    font-size: 12px;
    line-height: 26px;
    vertical-align: top;
}

.cal-per-date {
    display: inline-block;
    width: 36px;
    height: 26px;
    border-width: 0px 0 0 1px;
    border-style: solid;
    border-color: #04477c;
    text-align: center;
}

.has-date {
    cursor: pointer;
}

.cal-per-date:first-child {
    border-left: 0;
}

.cal-per-date:nth-child(n) {
    /*border-left: 0;*/
}

.has-date:hover {
    background-color: #f0f0f0;
}

.prev,
.next {
    display: inline-block;
    width: 20%;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.prev-icon,
.next-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(icon.png) no-repeat;
    margin-top: 5px;
}

.prev-icon {
    background-position: -39px -95px;
}

.prev-icon:hover {
    background-position: -9px -95px;
}

.next-icon {
    background-position: -29px -125px;
}

.next-icon:hover {
    background-position: 1px -125px;
}

.cal-year-month {
    width: 60%;
    height: 30px;
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
}